<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- filter -->

	<!--<filter>-->
		<!--<filter-name>EncodingFilter</filter-name>-->
		<!--<filter-class>task_itcaststore.web.filter.EncodingFilter</filter-class>-->
	<!--</filter>-->
	<!--<filter-mapping>-->
		<!--<filter-name>EncodingFilter</filter-name>-->
		<!--<url-pattern>/*</url-pattern>-->
	<!--</filter-mapping>-->

	<!--<filter>-->
		<!--<filter-name>AdminPrivilegeFilter</filter-name>-->
		<!--<filter-class>task_itcaststore.web.filter.AdminPrivilegeFilter</filter-class>-->
	<!--</filter>-->
	<!--<filter-mapping>-->
		<!--<filter-name>AdminPrivilegeFilter</filter-name>-->
		<!--<url-pattern>/admin/*</url-pattern>-->
	<!--</filter-mapping>-->

	<!-- servlet client -->

	<!--<servlet>-->
		<!--<servlet-name>LoginServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.LoginServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>LoginServlet</servlet-name>-->
		<!--<url-pattern>/login</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>AddProductServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.AddProductServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>AddProductServlet</servlet-name>-->
		<!--<url-pattern>/addProduct</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>ListProductsServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.ListProductsServlett</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>ListProductsServlet</servlet-name>-->
		<!--<url-pattern>/listProduct</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>ShowProductsByPageServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.ShowProductsByPageServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>ShowProductsByPageServlet</servlet-name>-->
		<!--<url-pattern>/showProductsByPage</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>FindProductByIdServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.FindProductByIdServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>FindProductByIdServlet</servlet-name>-->
		<!--<url-pattern>/findProductById</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>AddCartServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.AddCartServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>AddCartServlet</servlet-name>-->
		<!--<url-pattern>/addCart</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>ChangeCartServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.ChangeCartServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>ChangeCartServlet</servlet-name>-->
		<!--<url-pattern>/changeCart</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>LogoutServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.LogoutServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>LogoutServlet</servlet-name>-->
		<!--<url-pattern>/logout</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>CreateOrderServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.CreateOrderServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>CreateOrderServlet</servlet-name>-->
		<!--<url-pattern>/createOrder</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>FindOrderByUserServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.FindOrderByUserServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>FindOrderByUserServlet</servlet-name>-->
		<!--<url-pattern>/findOrderByUser</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>FindOrderByIdServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.FindOrderByIdServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>FindOrderByIdServlet</servlet-name>-->
		<!--<url-pattern>/findOrderById</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>FindOrdersServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.FindOrdersServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>FindOrdersServlet</servlet-name>-->
		<!--<url-pattern>/findOrders</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>OnlinePayServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.OnlinePayServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>OnlinePayServlet</servlet-name>-->
		<!--<url-pattern>/onlinePay</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>PayServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.PayServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>PayServlet</servlet-name>-->
		<!--<url-pattern>/pay</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>CallbackServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.CallbackServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>CallbackServlet</servlet-name>-->
		<!--<url-pattern>/callback</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>ChangeOrderStateServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.ChangeOrderStateServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>ChangeOrderStateServlet</servlet-name>-->
		<!--<url-pattern>/changeOrderState</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>DownloadServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.DownloadServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>DownloadServlet</servlet-name>-->
		<!--<url-pattern>/download</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>FindProductsByConditionsServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.FindProductsByConditionsServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>FindProductsByConditionsServlet</servlet-name>-->
		<!--<url-pattern>/findProductsByConditions</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>EditProductServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.EditProductServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>EditProductServlet</servlet-name>-->
	<!--<url-pattern>/updateProduct</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>DelProductServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.DelProductServletervlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>DelProductServlet</servlet-name>-->
		<!--<url-pattern>/deleteProduct</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>FindOrdersByConditionsServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.FindOrdersByConditionsServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>FindOrdersByConditionsServlet</servlet-name>-->
		<!--<url-pattern>/findOrdersByConditions</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>DelOrderByIdServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.DelOrderByIdServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>DelOrderByIdServlet</servlet-name>-->
		<!--<url-pattern>/delOrderById</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>CheckImageServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.view.CheckImageServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>CheckImageServlet</servlet-name>-->
		<!--<url-pattern>/checkImage</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>RegisterServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.RegisterServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>RegisterServlet</servlet-name>-->
		<!--<url-pattern>/register</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>ActiveUserServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.ActiveUserServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>ActiveUserServlet</servlet-name>-->
		<!--<url-pattern>/activeUser</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>MyAccountServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.client.MyAccountServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>MyAccountServlet</servlet-name>-->
		<!--<url-pattern>/myAccount</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--servlet /manager-->

	<!--<servlet>-->
		<!--<servlet-name>ListNoticeServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.ListNoticesServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>ListNoticeServlet</servlet-name>-->
		<!--<url-pattern>/manager/listNotice</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
	<!--<servlet-name>AddNoticeServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.AddNoticeServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>AddNoticeServlet</servlet-name>-->
		<!--<url-pattern>/manager/addNotice</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>UpdateNoticeServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.UpdateNoticeServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>UpdateNoticeServlet</servlet-name>-->
		<!--<url-pattern>/manager/updateNotice</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>FindByIdNoticeServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.FindNoticeByIdServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>FindByIdNoticeServlet</servlet-name>-->
		<!--<url-pattern>/manager/findByIdNotice</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>EditNoticeServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.EditNoticeServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>EditNoticeServlet</servlet-name>-->
		<!--<url-pattern>/manager/editNotice</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>DeleteNoticeServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.manager.DelNoticeServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>DeleteNoticeServlet</servlet-name>-->
		<!--<url-pattern>/manager/deleteNotice</url-pattern>-->
	<!--</servlet-mapping>-->

	<!-- servlet view -->

	<!--<servlet>-->
		<!--<servlet-name>MenuSearchServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.view.MenuSearchServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>MenuSearchServlet</servlet-name>-->
		<!--<url-pattern>/menuSearch</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet>-->
		<!--<servlet-name>ShowIndexServlet</servlet-name>-->
		<!--<servlet-class>task_itcaststore.web.servlet.view.ShowIndexServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>ShowIndexServlet</servlet-name>-->
		<!--<url-pattern>/showIndex</url-pattern>-->
	<!--</servlet-mapping>-->

	<!-- welcome page -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
